.chat-page {
  background-color: black;
  height: 100vh;
  width: 100%;
  color: white;
}

.chatbot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 80vh; 
  overflow-y: auto; 
}

.card {
  width: 40rem;
  background-color: cyan !important; 
  color: black;
  margin-bottom: 10px;
}

.card-left {
  align-self: flex-start;
}

.card-right {
  align-self: flex-end;
}

.card .card-body {
  padding: 20px;
}

.card-text {
  font-weight: bold;
  font-size: 20px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: cyan;
  border: none;
  color: black;
  cursor: pointer;
}

button:hover {
  background-color: darkcyan;
}

.user-input-container {
  position: sticky;
  bottom: 0;
  background: black; 
  padding: 10px 0 0 0;
  width: 100%;
  display: flex;
  justify-content: center; 
}

.user-input-container input {
  width: 70%; 
  padding: 16px 10px; 
  margin-right: 10px;
  border: 2px solid black; 
  border-radius: 4px;
  color: black;
  background-color: white;
  font-size: 16px; 
}

.user-input-container button {
  padding: 12px 20px; 
  border: none;
  border-radius: 4px;
  font-weight: bold;
}

.col-2 .new-chat-btn {
  width: 70%;
  border-radius: 4px;
  margin-top: 20px;
  font-weight: bold;
}

.col-2 {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: start; 
}

.saved-chat-btn {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  background-color: white;
  border: none;
  color: black;
  cursor: pointer;
}

