.chat-page {
    background-color: black;
    height: 100vh;
    width: 100%;
    color: white;
  }
  
  .chatbot-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 20px;
  }
  
  .card {
    width: 40rem;
    background-color: cyan !important; 
    color: black;
    margin-bottom: 10px;
  }
  
  .card-left {
    align-self: flex-start; 
  }
  
  .card-right {
    align-self: flex-end; 
  }
  
  .card .card-body {
    padding: 20px;
  }
  
  .card-text {
    font-weight: bold;
  }
  
  button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: cyan;
    border: none;
    color: black;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darkcyan;
  }
  