.right-sidebar {
  background-color: #FFFFFA; 
  padding: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}

.right-sidebar h3,
.right-sidebar h4 {
  font-size: 1.2rem;
  margin-bottom: 8px;
  color: #BF0000; 
}

.right-sidebar label {
  display: block;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #000; 
}

.right-sidebar select,
.right-sidebar input[type="range"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 6px 10px;
  font-size: 1rem;
  border: 2px solid #BF0000; 
  border-radius: 6px;
  background-color: #fff;
  color: #000;
}

.right-sidebar input[type="range"] {
  accent-color: #BF0000;
}

.right-sidebar .slider-group {
  margin-bottom: 15px;
  background-color: #FFFFFA;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #BF0000; 
  border-radius: 8px;
}

.dropdown {
  width: 100%;
  padding: 10px 12px;
  font-size: 1rem;
  border-radius: 8px;
  border: 2px solid #BF0000;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

option {
  padding: 8px;
  font-size: 1rem;
  background-color: #fff;
  color: #000;
}

option:hover {
  background-color: #e6ffff; 
}
