.right-sidebar {
  background-color: #FFFFFA;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdown {
  width: 100%;
  padding: 10px 12px;
  font-size: 1rem;
  border-radius: 8px;
  color: #333;
  cursor: pointer;
}

option {
  padding: 8px;
  font-size: 1rem;
  background-color: #fff;
  color: #333;
}

option:hover {
  background-color: #f1f1f1;
}
