.right-sidebar {
    background-color: #FFFFFA !important;
    padding: 10px;
    border-left: 1px solid #ddd;
    height: 100%;
  }
  
  .right-sidebar h4 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    margin-top: 15px !important;
  }
  
  .right-sidebar select {
    width: 100%;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  