.aboutUs-page {
    background-color: black; 
    height: 100vh; 
    width: 100%;
    color: white; 
}
.heading{
    color: cyan;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 3rem;
    letter-spacing: 1px;
}

