.saved-chats-container {
  margin: 0 2% 0 2%;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: center;
  z-index: -1;

}



.new-chat-btn {
  background-color: #BF0000;
  color: #FFFFFA;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
  width: 70%;
  max-width: 70%;
  margin-bottom: 1rem;
  transition: all 0.2s ease;
  align-self: center;
}

.new-chat-btn:hover {
  background-color: #a50000; 
}

.chat-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.saved-chat-btn {
  background-color: #fff;
  border: 2px solid #BF0000; 
  color: #000;
  border-radius: 6px;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.9rem;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  min-width: 200px;
  max-width: 70%;
  text-overflow: ellipsis;
  transition: all 0.2s ease;
  align-self: center;
}

.saved-chat-btn:hover {
  background-color: #e6ffff;
  border-color: #BF0000;
}
